<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.akinfemi.storytimeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Story"
            android:label="@string/title_activity_select_story"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".new_story"
            android:label="Select a story"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>
</manifest>
